// Contact Section

.contact {
    border-top: $borde-blanco-2;
    text-align: center;
    padding-bottom: 9.375rem;
    background-position: center;
    background-size: cover;
    min-height: 76.9vh;

    @include mobile-l {
        padding-bottom: 6.25rem;
    }

    &__heading {
        margin-top: $margin-titulo;
        margin-bottom: 6.25rem;
        color: $negro;

        &--span {
            border-bottom: 1px solid $negro;
            padding-bottom: $padding-titulo;
        }

        @include mobile-l {
            margin-top: 6.25rem;
            margin-bottom: 6.25rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        width: 60%;
        margin: 0 auto;

        @include tablet {
            width: 90%;
        }

        &--nombre,
        &--email,
        &--pais,
        &--textarea {
            margin: 0.625rem 0rem;
            width: 100%;
            padding: 0.313rem;
            resize: none;
            outline: none;
            border: $borde-blanco;
            color: $blanco-texto;
            background: rgba(14, 14, 14, 0.8);

            &:focus {
                outline: $borde-blanco;
            }
        }

        &--newsletter-box {
            display: flex;
            align-items: center;
        }

        &--newsletter {
            margin: 0.625rem 0.313rem 0.625rem 0.625rem;
        }

        &--enviar {
            background: rgba(14, 14, 14, 0.8);
        }
    }
}